header {
  width: 300px;
  height: 100%;
  padding: 40px;
  background-color: #001540;
  display: block;
  overflow-y: auto;
  position: fixed;
}

.nav-link-text {
  color: #fff;
}

.social-row {
  margin: 20px;
  text-align: center;
}

.social-icon {
  color: #fff;
  font-size: 18pt;
  text-decoration: none;
}

.link-text {
  color: #fff;
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.nav-link:hover {
  color: #2a4b8c;
}

.profile-picture {
  border-radius: 90px;
  margin-bottom: 1rem;
  border: 6px solid #2a4b8c;
}

.profile-container {
  text-align: center;
  margin-bottom: 40px;
}

.hero-section {
  width: 100%;
  background: url(../src/static/img/sf9-hero-placeholder.jpg) no-repeat center
    center;
  background-size: cover;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important ;
  display: flex !important;
  padding: 60px 0;
}

section {
  height: 100vh;
}
